#hero {
  background: var(--clr-1-dk);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  height: fit-content;
  min-height: 310px;
  position: relative;
}

#hero p {
  color: var(--clr-3-lt);
  max-width: 25ch;
  border-radius: 1rem;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  line-height: 21px;

  color: #ffffff;

}
.heroTextWrapper {
  position: absolute;
  margin: auto auto;
}
.heroImg {
  z-index: 1;
  position: absolute;
  top: 23px;
  right: 0;
  max-height: 406px;
  display: none;
}

@media (min-width: 768px) {
  #hero {
    height: 406px;
  }
  .heroTextWrapper {
    position: absolute;
    top: 23px;
  }
  .heroImg {
    display: block;
  }
}
