#testimonials {
  min-height: 700px;
  height: fit-content;
}
.testimonials__header {
  padding-block-start: 156.66px;
  padding-block-end: 160.34px;
}
.subtitle {
  text-align: center;
  width: 100%;
}
.testimonial__list {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  flex-wrap: wrap;
}
.testimonial {
  width: 200px;
  height: 232px;
  background: white;
}
