#about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block-end: 2rem;
}
#about img {
  max-width: 100%;
}
.paragraph_text {
  max-width: 350px;
  margin-block-start: 8px;
  color: #f5f5f5;
}
.text_box {
  padding-block: 1rem;
}
.image_box {
  margin-left: auto;
}

@media (min-width: 860px) {
  #about {
    padding-block-start: 112px;
    padding-block-end: 93.26px;
    justify-content: space-between;
  }
}
