.menuItem {
  height: 419.4879150390625px;
  width: 260px;
  border-radius: 0px;
  position: relative;
}
.menuItem__bg {
  height: 435px;
  width: 260px;
  background: var(--white);
  border-radius: 16px 16px 0 0;
}
.menuItem_image_img {
  height: 168.82142639160156px;
  width: 260px;
  border-radius: 16px 16px 0 0;
}
.menuItem_image_none {
  height: 168.82142639160156px;
  width: 260px;
  border-radius: 16px 16px 0 0;
  background:var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.menuItem_details {
  height: 241.34506225585938px;
  max-width: 226px;
  margin: 10.07px auto 0;
}
.menuItem_details_description {
  margin-top: 28.65px;
  max-height: 135.54px;
  overflow: scroll;
}
.menuItem_details_header {
  width: 226px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuItem_details_header p,
.menuItem_details_header h5{
  margin-bottom: 0;
  line-height: 1;
} 
.menuItem_details_footer {
  min-height: 17.63079833984375px;
  width: 154px;
  border-radius: 0px;
  position: absolute;
  bottom: 0%;
  display: flex;
  align-items: center;
}
.menuItem_details_footer_arrow {
  padding-left: 8.31px;
}
