#weekly_specials {
  background: var(--clr-3-lt);
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-block-start: 88px;
  padding-block-end: 86px;
}
.weekly_specials_header {
  margin-block-end: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.weekly_specials_header > a {
  margin-top: 0;
}
.menu_items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: var(--justify-content);
}
