.footer {
  padding-block-start: 65px;
  padding-block-end: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem 1rem;
}
.box:first-of-type{
}
.box a{
  line-height: 1.75;
}
.box address a:first-of-type{
  margin-block-start: 1rem;
}
