#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-block-end: 2.25rem;
  text-transform: none;
  align-items: flex-start;
}
.footer_img_box {
  margin-inline-end: 2rem;
  margin-block: 24px;
}
/*.footer_nav_box { margin: 3rem 1.75rem 0 0; }*/
.footer_nav_box {
  margin-inline-end: 2rem;
}
.footer_nav_box li {
  display: block;
}
.footer_nav_box h5 {
  font-size: 18px;
  padding-block-end: 21px;
  padding-block-start: 58px;
}
.footer_address > a,
.footer_address > span {
  display: block;
}
.footer_nav_box a {
  line-height: 1.75;
}
.footer_address a:first-of-type {
  margin-top: 1rem;
}
