hbook_a_table {
  padding-block-start: 15px;
  padding-block-end: 2rem;
}
.title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form {
  position: relative;
  display: grid;
  max-width: 240px;
  gap: 20px;
}
.form h3 {
  color: var(--white);
  padding-block-start: 2rem;
}
.heading svg,
.heading img {
  display: none;
}
.title {
  text-align: center;
  color: var(--clr-highlight);
  margin-block-end: 144.34px;
}
.message {
  top: 0;
  left: -2.5rem;
  position: absolute;
  color: var(--clr-secondary-1);
  letter-spacing: 0;
  font-size:.8rem;
}
.err {
  color: red;
}
.form label {
  display: inline-block;
  margin-block-end: 0.5rem;
  color: var(--clr-highlight);
}
.form input[type='number'],
.form input,
.form select {
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
}
.form input[type='date'],
.form input[type='number'],
.form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none;
  outline-width: 0;
  border-radius: 8px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 15em;
  border: none;
  border-bottom: 1px solid var(--clr-primary-1);
}

select {
  background: url(../../assets/select.svg) no-repeat 100% 50% #fff;
}

input[type='submit'] {
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  padding: 12px 32px 11px;
  min-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  margin-right: auto;

  color: var(--black);
  background: var(--clr-primary-2);
  border: 1px solid transparent;
  border-radius: var(--radius);
  border-color: transparent;
  cursor: pointer;
}

input[type='submit']:hover {
  color: var(--clr-highlight);
  background: var(--clr-primary-1);
  border-color: var(--clr-highlight);
}
input[type='submit']:focus-visible {
  color: var(--clr-highlight);
  background: var(--clr-primary-1);
  border-color: transparent;
}
input:invalid,
input::placeholder,
select:invalid {
  color: var(--gray);
}

label[data-required] {
  position: relative;
}
label[data-required]:after {
  color: var(--clr-secondary-1);
  margin-left: 3px;
  content: '*';
}

@media (min-width: 860px) {
  .book_a_table {
    justify-content: var(--justify-content);
    flex-wrap: wrap;
    display: flex;
    padding-block-start: 156.66px;
    padding-block-end: 124px;
  }
  .heading svg,
  .heading img {
    display: inline-block;
  }
}
