.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.625rem;
  padding-inline: 0;
}
.header nav {
  display: inline-block;
}
.header ul {
  display: flex;
  justify-content: var(--justify-content);
  flex-wrap: wrap;
  gap: 1rem;
}
