:root {
  --clr-primary-1: #495e57;
  --clr-primary-2: #f4ce14;
  --clr-secondary-1: #ee9972;
  --clr-secondary-2: #fbdabb;
  --clr-highlight-1: #333333;
  --clr-highlight-2: #edefee;

  --gray: #d9d9d9;
  --black: #000000;
  --white: #ffffff;
  --ff-display: 'Markazi Text', serif;
  --ff-main: 'Karla', sans-serif;

  --main-padding: 15%;

  --max-width: 860px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-family: var(--ff-main);
  font-size: 16px;
}
body {
  background: var(--clr-highlight-2);
  color: var(--clr-highlight-1);
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
}
a:link,
a:visited,
a:hover {
  text-decoration: none;
  font-style: normal;
  font-family: var(--ff-main);
}
header a {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.1875rem;
}
h1,
h2 {
  font-size: 4rem;
  line-height: 4.8125rem;
  font-family: var(--ff-display);
  font-style: normal;
  font-weight: 400;
  color: var(--black);
}
h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
h3,
h4,
h5 {
  color: var(--black);
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
}
h4 {
  font-size: 1rem;
  line-height: 19px;
}
h5 {
  font-size: 18px;
  line-height: 21px;
}
img {
  height: auto;
}
li {
  display: inline-block;
  margin: 1em;
  margin-inline-start: 0;
}
p {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--clr-primary-1);
}
header {
  background: var(--clr-highlight-2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
footer {
  background: var(--gray);
  padding-block: 7%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding-block-end: 10%;
}
footer > div {
  margin: 1.75rem 1.75rem 0 0;
}
footer li {
  display: block;
  margin-block-start: 1em;
  margin-inline-start: 0;
  margin-inline: 0;
}
address {
  margin-block-start: 1em;
}
address,
a.footer-text {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: none !important;
  color: #000000;
}
footer nav:first-child li:first-child {
  margin-top: 0;
}
address > * {
  display: block;
}
address > a {
  margin-top: 1em;
}

div.block-bg {
  padding-inline: 5%;
}
@media (min-width: 768px) {
  div.block-bg > *.block {
    max-width: var(--max-width);
    margin: 0 auto;
  }
}
