*,
*::after,
*::before {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}
body {
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
h5 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  color: #495e57;
}
img {
  height: auto;
}
li {
  display: inline-block;
  margin-left: 1em;
}
header {
  background: #edefee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
main {
  min-height: 70vh;
  background: #d9d9d9;
}
a {
  text-decoration: none;
}
footer {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  background: #edefee;
  padding: 0 5%;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
footer > div {
  padding: 1.75em;
  flex: 1;
}
footer li {
  display: block;
  margin-block-start: 1em;
  margin-inline-start: 0px;
}
address {
  margin-block-start: 1em;
}
address > * {
  display: block;
}
address > a {
  margin-top: 1em;
}
