:root {
  --clr-primary-1: #495e57;
  --clr-primary-2: #f4ce14;
  --clr-secondary-1: #ee9972;
  --clr-secondary-2: #fbdabb;
  --clr-highlight-1: #333333;
  --clr-highlight-2: #edefee;

  --gray: #d9d9d9;
  --black: #000000;
  --white: #ffffff;
  --ff-main: 'Karla', sans-serif;

  --main-padding: 15%;

  --max-width: 860px;
}
*,
::after,
::before {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  line-height: 1.1875;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875;
  color: var(--clr-highlight-1);
  text-align: left;
  background-color: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.2;
  color: inherit;
}
h1, h2 {
  font-family: 'Markazi Text', serif;
  font-style: normal;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 0px;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3, h4, h5 {
  font-family: var(--ff-main);
  font-weight: 700;
  color: var(--black);
  font-size: 1rem;
}
img {
  height: auto;
  max-width: 100%;
}
p {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  color: var(--black);
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: var(--clr-primary-1);
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
