* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Karla', sans-serif;
}


/* reset img */
img {
	display: block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}


#logo-footer {
  width: max(75px, 8vw);
  background-color: #ffffff;
  aspect-ratio:180/317;
  padding: 0.4rem;
}
